Repository solonkonora/To-Do, pull requests merged in 2024-06, with the labels that each got.

#9 setup authentication routers, ensuring that login and signup routes w…
  back-end/.env.example
  back-end/README.md
  back-end/app.js
  back-end/db/schemas/todo.js
  back-end/db/schemas/user.js
  back-end/modules/auth/auth.controller.js
  back-end/modules/auth/auth.service.js
  back-end/modules/todo/todo.controller.js
  back-end/modules/todo/todo.service.js
  back-end/modules/user/user.service.js
  back-end/node_modules/.bin/mime
  back-end/node_modules/.bin/nodemon
  back-end/node_modules/.bin/nodetouch
  back-end/node_modules/.bin/semver
  back-end/node_modules/.package-lock.json
  back-end/package-lock.json
  back-end/package.json
  back-end/routes/auth.js
  back-end/routes/index.js
  back-end/routes/user.js
  back-end/utils/constants.js
  back-end/utils/schema-transformer.js
  front-end/src/app/page.tsx
Labels: _Back-end

#15 added guard context to provide current user
  front-end/src/components/features/user-auth-guard/api/get-current-user.ts
  front-end/src/components/features/user-auth-guard/api/type.ts
  front-end/src/components/features/user-auth-guard/user-auth-guard.tsx
Labels: _Front-end

#26 Feature/todo routes
  back-end/README.md
  back-end/app.js
  back-end/db/schemas/todo.js
  back-end/middlewares/user-injector.js
  back-end/modules/auth/auth.service.js
  back-end/modules/todo/todo.controller.js
  back-end/modules/todo/todo.service.js
  back-end/routes/todos-route.js
  back-end/utils/schema-transformer.js
Labels: enhancement, _Back-end

#28 created http-client with GET, POST, PUT, PATCH, and DELETE methods. a…
  front-end/.env.example
  front-end/src/lib/http-client/headers.ts
  front-end/src/lib/http-client/index.ts
  front-end/src/lib/token-service.ts
  front-end/src/services/constants.ts
Labels: _Front-end, _Back-end

#30 restructured folders for better development and added load shimmers
  front-end/.eslintrc.json
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app/(auth)/login/page.ts
  front-end/src/app/(auth)/signup/page.ts
  front-end/src/app/layout.tsx
  front-end/src/app/loading.tsx
  front-end/src/app/page.tsx
  front-end/src/app/signup/page.tsx
  front-end/src/app/todos/layout.tsx
  front-end/src/app/todos/page.ts
  front-end/src/components/molecules/index.tsx
  front-end/src/components/molecules/loading-page-skeleton.tsx
  front-end/src/components/molecules/login.tsx
  front-end/src/components/molecules/navbar.tsx
  front-end/src/components/molecules/side-bar.tsx
  front-end/src/components/todo-card/todo-card.tsx
  front-end/src/components/ui/skeleton.tsx
  front-end/src/components/ui/text-logo.tsx
  front-end/src/components/user-auth-guard/api/get-current-user.ts
  front-end/src/components/user-auth-guard/user-auth-guard.tsx
  front-end/src/featuers/auth/index.tsx
  front-end/src/featuers/auth/login-page.tsx
  front-end/src/featuers/auth/sign-up-page.tsx
  front-end/src/featuers/home-page/home-page.tsx
  front-end/src/featuers/todos/api/type.ts
  front-end/src/featuers/todos/create-todo/create-todo.tsx
  front-end/src/featuers/todos/index.tsx
  front-end/src/featuers/todos/my-todos/my-todos.tsx
  front-end/src/lib/http-client/index.ts
  front-end/src/providers/auth-provider.tsx
  front-end/src/providers/context/api/context.api.ts
  front-end/src/providers/context/api/types.ts
  front-end/src/providers/context/app-context.tsx
  front-end/src/services/constants.ts
  front-end/tailwind.config.ts
Labels: enhancement, _Front-end

#32 refactored code to properly get current user and also setup app context
  front-end/src/components/molecules/navbar.tsx
  front-end/src/lib/http-client/index.ts
  front-end/src/providers/auth-provider.tsx
  front-end/src/providers/context/api/context.api.ts
  front-end/src/providers/context/api/types.ts
Labels: enhancement, _Front-end

#34 quick fix todos routes
  README.md
  back-end/vercel.json
  front-end/README.md
  front-end/src/components/molecules/side-bar.tsx
  front-end/src/featuers/todos/api/todo-queries.ts
  front-end/src/featuers/todos/api/type.ts
  front-end/src/featuers/todos/my-todos/my-todos.tsx
  front-end/src/lib/http-client/index.ts
  front-end/src/providers/auth-provider.tsx
Labels: enhancement, _Front-end

#35 Feature/todo route
  back-end/README.md
  back-end/db/schemas/todo.js
  back-end/modules/todo/todo.controller.js
  back-end/modules/todo/todo.service.js
  back-end/routes/todos-route.js
  front-end/src/components/molecules/navbar.tsx
Labels: enhancement, _Front-end

#36 rebuilt the todo-card component to work, added the right routes, and …
  back-end/README.md
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app/todos/layout.tsx
  front-end/src/app/todos/view/[todId]/page.ts
  front-end/src/components/molecules/index.tsx
  front-end/src/components/molecules/todo-card.tsx
  front-end/src/components/todo-card/todo-card.tsx
  front-end/src/components/ui/dropdown-menu.tsx
  front-end/src/featuers/todos/api/todo-queries.ts
  front-end/src/featuers/todos/api/type.ts
  front-end/src/featuers/todos/index.tsx
  front-end/src/featuers/todos/my-todos/my-todos.tsx
  front-end/src/featuers/todos/single-todo/single-todo.tsx
  front-end/src/lib/http-client/index.ts
  front-end/src/providers/auth-provider.tsx
Labels: enhancement, _Front-end

#38 wrote the methods and ui components to create new and edit todos. als…
  front-end/src/app/page.tsx
  front-end/src/app/todos/add-new/page.tsx
  front-end/src/app/todos/create/page.ts
  front-end/src/app/todos/edit/[todoId]/page.ts
  front-end/src/app/todos/edit/[todoId]/page.tsx
  front-end/src/app/todos/layout.tsx
  front-end/src/components/molecules/navbar.tsx
  front-end/src/components/molecules/todo-card.tsx
  front-end/src/featuers/auth/login-or-sinup-page.tsx
  front-end/src/featuers/todos/api/todo-api.ts
  front-end/src/featuers/todos/api/todo-queries.ts
  front-end/src/featuers/todos/api/type.ts
  front-end/src/featuers/todos/create-or-edit-todo/create-or-edit-todo.tsx
  front-end/src/featuers/todos/create-todo/create-todo.tsx
  front-end/src/featuers/todos/edit-todo/edit-todo.tsx
  front-end/src/featuers/todos/index.tsx
  front-end/src/featuers/todos/my-todos/my-todos.tsx
Labels: enhancement, _Front-end

#39 finished delete end point with documentation
  back-end/README.md
  back-end/modules/todo/todo.controller.js
  back-end/modules/todo/todo.service.js
  back-end/routes/todos-route.js
Labels: enhancement, _Back-end

#42 Added the dialogue from chadcn and used it to build delete modal. als…
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app/layout.tsx
  front-end/src/components/molecules/loading-page-skeleton.tsx
  front-end/src/components/molecules/side-bar.tsx
  front-end/src/components/molecules/todo-card.tsx
  front-end/src/components/ui/dialog.tsx
  front-end/src/featuers/todos/api/todo-api.ts
  front-end/src/featuers/todos/create-or-edit-todo/create-or-edit-todo.tsx
  front-end/src/featuers/todos/my-todos/my-todos.tsx
  front-end/src/providers/context/app-context.tsx
Labels: enhancement, _Front-end

#43 modfied how cards are displayed, and worked on search. building shimm…
  front-end/package-lock.json
  front-end/package.json
  front-end/src/app/todos/layout.tsx
  front-end/src/components/molecules/index.tsx
  front-end/src/components/molecules/loading-page-skeleton.tsx
  front-end/src/components/molecules/loading-page-skeleton/loading-page-skeleton.tsx
  front-end/src/components/molecules/navbar/navbar.tsx
  front-end/src/components/molecules/search-component/search-component.tsx
  front-end/src/components/molecules/side-bar/side-bar.tsx
  front-end/src/components/molecules/todo-card/todo-card.tsx
  front-end/src/components/molecules/todo-card/todo-display.tsx
  front-end/src/components/ui/text-logo.tsx
  front-end/src/featuers/todos/my-todos/my-todos.tsx
  front-end/src/providers/context/app-context.tsx
Labels: enhancement, _Front-end

#45 updated the home-page import and tod-card
  front-end/src/app/layout.tsx
  front-end/src/app/page.ts
  front-end/src/app/page.tsx
  front-end/src/components/molecules/todo-card/todo-card.tsx
  front-end/src/featuers/home-page/home-page.tsx
  front-end/src/featuers/home-page/index.tsx
Labels: enhancement, _Front-end

#44 Feature/dashboard text
  front-end/src/components/molecules/side-bar/side-bar.tsx
  front-end/tailwind.config.ts
Labels: enhancement, _Front-end

#47 added todo-components.tsc as special file where todo components belong..
  README.md
  front-end/package-lock.json
  front-end/package.json
  front-end/src/components/molecules/index.tsx
  front-end/src/components/molecules/loading-page-skeleton/loading-page-skeleton.tsx
  front-end/src/components/molecules/navbar/navbar.tsx
  front-end/src/components/molecules/search-component/search-component.tsx
  front-end/src/components/molecules/side-bar/side-bar.tsx
  front-end/src/components/molecules/todo-card/index.tsx
  front-end/src/components/molecules/todo-card/todo-card.tsx
  front-end/src/components/molecules/todo-card/todo-components.tsx
  front-end/src/components/ui/select.tsx
  front-end/src/featuers/todos/create-or-edit-todo/create-or-edit-todo.tsx
  front-end/src/featuers/todos/create-or-edit-todo/todo-dropdown.tsx
  front-end/src/lib/utils.ts
  readme-assets/todo-add-new.png
  readme-assets/todo-delete-todo.png
  readme-assets/todo-todos.png
Labels: enhancement, _Front-end

#48 rebase to main
  front-end/public/assets/landing.svg
  front-end/src/featuers/home-page/home-page.tsx
Labels: enhancement, _Front-end

#49 adding avatar for the team members and thier github links
  front-end/next.config.mjs
  front-end/src/components/molecules/side-bar/side-bar.tsx
  front-end/src/featuers/home-page/home-page.tsx
  front-end/src/featuers/home-page/index.tsx
  front-end/src/featuers/home-page/team.tsx
Labels: enhancement, _Front-end
